/* About CSS */

.about-section {
    position: relative;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.about-section .about-title {
    position: relative;
    margin: 0;
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #e1dadae4;
}

.about-section .about-desc {
    position: relative;
    font-size: 20px;
    font-weight: 250;
}

.about-section .news-article {
    font-size: 25px;
    font-weight: 250;
}

.home-img {
    width: 100%;
    height: 650px;
    object-fit: cover;
    object-position: 50% 50%;
}