{% extends 'base.html' %}
{% block header %}
    <link rel="stylesheet" href="stylesheets/about.css">
    <link rel="stylesheet" href="stylesheets/certificates.css">
    <title>About Me</title>
{% endblock %}

{% block content %}
<!-- About Content -->
<div class="about-section">
    <div class="about-section">
        <!-- My Story -->
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-6 col-md-8">
                    <img class="home-img "src="images/portfolio/events/cys-2023.jpg" alt="">
                </div>
                <div class="col-lg-6">
                    <h1 class="about-title">
                        My Story
                    </h1>
                    <p class="about-desc">
                            I first learnt to code in Primary 3, when my Co-curricular Activity (CCA) teacher taught us
                            how to use Scratch to develop a simple game. After that session, I developed an interest for
                            computer science and programming, and wanted to keep improving my ability to code in order to 
                            develop better programs that can help others.
                    </p>
                    <p class="about-desc">
                            In Secondary 2, I participated in the Youth Cyber Exploration Programme (YCEP) that the Cyber Security Agency
                            of Singapore (CSA) hosts annually. This competition provided me with an entirely new perspective on cybersecurity,
                            offering a glimpse into the world of hacking and the exhilaration that accompanies engaging in CTF challenges. 
                            It was also through this event that led me to meet my current group of friends (Yes But No - YBN)
                    </p>
                </div>
            </div>
        </div>
        <!-- My Story, part 2 -->
        <div class="row justify-content-center align-items-center">
            <div class="header">
                <h1>Certificates, Awards and Testimonials</h1>
            </div>
            <div class="certificates-awards">
                <div class="wrapper">
                    <div class="tabs">
                      <div class="tab">
                        <input type="radio" name="css-tabs" id="cca-leadership" checked class="tab-switch">
                        <label for="cca-leadership" class="tab-label">CCA and Leadership</label>
                        <div class="tab-content">
                            <div class="row row-1">
                                <div class="column">
                                    <img src="images/portfolio/certificates/ncc_1.jpg" alt="" style="width: 100%;">
                                </div>
                                <div class="column">
                                    <img src="images/portfolio/certificates/leadership_1.jpg" alt="" style="width: 100%;">
                                </div>
                                <div class="column">
                                    <img src="images/portfolio/certificates/leadership_2.jpg" alt="" style="width: 100%;">
                                </div>
                            </div>
                            <div class="row row-2">
                                <div class="column">
                                    <img src="images/portfolio/certificates/leadership_3.jpg" alt="" style="width: 100%;">
                                </div>
                                <div class="column">
                                    <img src="images/portfolio/certificates/eagles.jpg" alt="" style="width: 100%;">
                                </div>
                                <div class="column">
                                    <img src="" alt="">
                                </div>
                            </div>
                        </div>
                      </div>
                      <div class="tab">
                        <input type="radio" name="css-tabs" id="ctf-computing" class="tab-switch">
                        <label for="ctf-computing" class="tab-label">CTF and Computing</label>
                        <div class="tab-content">
                            <div class="row row-1">
                                <div class="column">
                                    <img src="" alt="">
                                </div>
                                <div class="column">
                                    <img src="" alt="">
                                </div>
                                <div class="column">
                                    <img src="" alt="">
                                </div>
                            </div>
                            <div class="row row-2">
                                <div class="column">
                                    <img src="" alt="">
                                </div>
                                <div class="column">
                                    <img src="" alt="">
                                </div>
                                <div class="column">
                                    <img src="" alt="">
                                </div>
                            </div>
                        </div>
                      </div>
                      <div class="tab">
                        <input type="radio" name="css-tabs" id="others" class="tab-switch">
                        <label for="others" class="tab-label">Others</label>
                        <div class="tab-content">
                            <div class="row row-1">
                                <div class="column">
                                    <img src="" alt="">
                                </div>
                                <div class="column">
                                    <img src="" alt="">
                                </div>
                                <div class="column">
                                    <img src="" alt="">
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}