{% extends 'base.html' %}
{% block content %}
<!-- Banner content -->
<div class="banner-section">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-lg-6">
          <sub class="hidden-flag">Oh man, this is too easy.. YBN{h1dden_1n_p1ain_s1gh7}</sub>
          <h1 class="banner-title">
            Hello World!
          </h1>
          <p class="banner-desc">
            Hi there! I'm Hoe Yeong (alias: Solitude Nox). I am a primarily self-taught Python programmer
            who started in 2018, and a member of the Cyber Youth Collective
          </p>
          <p class="banner-desc pb-3">
            I enjoy playing video games and working on personal projects during my free time, although these do get
            pushed back often due to various school-related reasons. 
            I also enjoy music, and know how to play the acoustic guitar
          </p>
          <a href="about.html" class="banner-btn">
            Read more &rarr;
          </a>
        </div>
        <div class="col-lg-6 col-md-8">
          <img src="images/ybn.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}