{% extends 'base.html' %}

{% block header %}
  <title>Home</title>
{% endblock %}

{% block content %}
<!-- Banner content -->
<div class="banner-section">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-lg-6">
          <sub class="hidden-flag">
            Oh man, this is too easy.. YBN{h1dden_1n_p1ain_s1gh7}<br>
            You should take a look at the source code for this website...
          </sub>
          <!--
            Oh hello there, I was expecting you. I've inserted a couple of flags within my website, let's see if you
            can catch 'em all!
          -->
          <h1 class="banner-title">
            YBN{h3l1o_w0r1D!} <!-- Hmm, not sure if this is a flag though... -->
          </h1>
          <p class="banner-desc">
            Hi there! I'm Ryo Soikutsu (alias: Solitude Nox). I am a primarily self-taught Python programmer
            who started in 2018, and a member of the Cyber Youth Collective (CYC)
          </p>
          <p class="banner-desc pb-3">
            I enjoy playing video games and working on personal projects during my free time
            I also enjoy music, and know how to play the acoustic guitar
          </p>
          <a href="about.html" class="banner-btn read-more">
            Read more &rarr;
          </a>
          <br>
          
        </div>
        <div class="col-lg-6 col-md-8">
          <div id="index-carousel" class="carousel slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#index-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#index-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#index-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="images/portfolio/events/ycep-2023.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <p>Catching up with YBN members during YCEP 2023</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="images/portfolio/events/investiture-1.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <p>Me participating in Student Leader Investiture 2023</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="images/portfolio/events/openhouse-1.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <p>Helping out with my school's Open House event</p>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <sub class="banner desc pb-3">
            Fun fact: You may have noticed that I seem to be wearing a hoodie in many of the pictures that I appear in. It was a prize given out by 
            CSA for everyone who was chosen to go to A.YCEP 2021, and I was one of them!
          </sub>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}