{% extends 'base.html' %}
{% block header %}
<link rel="stylesheet" href="stylesheets/portfolio.css">
{% endblock %}

{% block content %}
<!-- Portfolio Content -->
<div class="portfolio-section">
    <!-- Shroom Boi -->
    <div class="container">
      <div class="row justify-content-center align-items-center pb-5">
        <div class="col-lg-6">
          <img src="images/portfolio/projects/shroom_boi/dev_demo.jpg" alt="">
        </div>
        <div class="col-lg-6">
          <h1 class="port-title">Le Shroom Boi - Discord bot</h1>
          <p class="port-role">Developer</p>
          <p class="port-desc">Le Shroom Boi was my first ever coding project, and it taught me the basics of using
            online services such as APIs, Github as well as learning how to Google when I encounter issues that were
            too complex for me to handle. Through this project, I learnt the basics of the Python programming language, 
            which gave me a competitive edge in my school's Computing classes. 
            <br>
            More details about this project can be viewed 
            <a href="shroom_boi.html" class="banner-btn">here &rarr;</a>
          </p>
        </div>
      </div>
    </div>
    <!-- Portfolio Website -->
    <div class="container">
      <div class="row justify-content-center align-items-center pb-5">
        <div class="col-lg-6">
          <h1 class="port-title">Portfolio Website</h1>
          <p class="port-role">Front-end Developer</p>
          <p class="port-desc">Lorem ipsum dolor sit amet. Et quisquam nulla qui quod atque et quia veniam. 
            Aut similique molestiae quo numquam illum ut nihil consectetur qui voluptates itaque. 
            Est ipsum quis ut galisum maxime non dolores unde sed quos libero et eligendi fuga. 
            A repudiandae molestias non quasi ipsum et dolor rerum?</p>
        </div>
        <div class="col-lg-6">
          <img src="images/ybn.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
{% endblock %}