{% extends 'base.html' %}
{% block content %}
<!-- Portfolio Content -->
<div class="portfolio-section">
    <!-- A.YCEP 2021 -->
    <div class="container">
      <div class="row justify-content-center align-items-center pb-5">
        <div class="col-lg-6">
          <h1 class="port-title">Advanced Youth Cyber Exploration Programme 2021</h1>
          <p class="port-role">Team Member</p>
          <p class="port-prizes">Won: A.YCEP hoodie and trophy, A.YCEP 2021 certificate (participation)</p>
          <p class="port-desc">This was the second Capture-the-Flag competition that I have participated in, and I was fortunate
            to have been paired up with experienced teammates. Through them, I learnt a great deal about incident response, such 
            as how it is conducted, and what we can do to prevent data breaches from occuring in the first place. 
          </p>
        </div>
        <div class="col-lg-6">
          <img src="images/portfolio/events/aycep-2021.jpg" alt="">
        </div>
      </div>
    </div>
    <!-- YCEP 2022 -->
    <div class="container">
      <div class="row justify-content-center align-items-center pb-5">
        <div class="col-lg-6">
          <img src="images/portfolio/events/ycep-2022.jpg" alt="">
        </div>
        <div class="col-lg-6">
          <h1 class="port-title">Youth Cyber Exploration Programme 2022</h1>
          <p class="port-role">Team Member</p>
          <p class="port-prizes">Won: YCEP 2022 certificate (2nd runner-up)</p>
          <p class="port-desc">This was my first physical Capture-the-Flag competition (due to the COVID-19 pandemic), and I had teamed up with several
            friends from the School of Science and Technology (SST). Although we only won the 2nd runner-up prize, I still found
            the CTF challenge an enjoyable and fruitful event, as I got to improve my skills at web hacking and cryptography
          </p>
        </div>
      </div>
    </div>
    <!-- Open House 2022 -->
    <div class="container">
      <div class="row justify-content-center align-items-center pb-5">
        <div class="col-lg-6">
          <h1 class="port-title">Peirce Open House 2022</h1>
          <p class="port-role">Ambassador</p>
          <p class="port-desc">I was offered the opportunity to participate in my Secondary school's Open House event,
            representing the school's Computing booth. Through this event, I not only got to bond with several other Computing
            and CPA students, but also got to experience the process of preparing for an open house, as well as learning how
            to present my projects effectively to parents<br>
            Project code can be found
            <a href="https://github.com/IronForce-Auscent/s3_openhouse_computing" class="banner-btn">
              here &rarr;
            </a>
          <br><sub>As for why I'm wearing the No.4 uniform: I had to cover for a fellow leader's absence</sub>
          </p>
        </div>
        <div class="col-lg-6">
          <img src="images/portfolio/events/openhouse-2022.JPG" alt="">
        </div>
      </div>
    </div>
    <!-- Shroom Boi -->
    <div class="container">
      <div class="row justify-content-center align-items-center pb-5">
        <div class="col-lg-6">
          <img src="images/portfolio/projects/shroom_boi/dev_demo.jpg" alt="">
        </div>
        <div class="col-lg-6">
          <h1 class="port-title">Le Shroom Boi - Discord bot</h1>
          <p class="port-role">Developer</p>
          <p class="port-desc">Le Shroom Boi was my first ever coding project, and it taught me the basics of using
            online services such as APIs, Github as well as learning how to Google when I encounter issues that were
            too complex for me to handle. Through this project, I learnt the basics of the Python programming language, 
            which gave me a competitive edge in my school's Computing classes. 
            <br>
            More details about this project can be viewed 
            <a href="shroom_boi.html" class="banner-btn">here &rarr;</a>
          </p>
        </div>
      </div>
    </div>
    <!-- Portfolio Website -->
    <div class="container">
      <div class="row justify-content-center align-items-center pb-5">
        <div class="col-lg-6">
          <h1 class="port-title">Portfolio Website</h1>
          <p class="port-role">Front-end Developer</p>
          <p class="port-desc">Lorem ipsum dolor sit amet. Et quisquam nulla qui quod atque et quia veniam. 
            Aut similique molestiae quo numquam illum ut nihil consectetur qui voluptates itaque. 
            Est ipsum quis ut galisum maxime non dolores unde sed quos libero et eligendi fuga. 
            A repudiandae molestias non quasi ipsum et dolor rerum?</p>
        </div>
        <div class="col-lg-6">
          <img src="images/ybn.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
{% endblock %}