{% extends 'base.html' %}
{% block header %}
<link rel="stylesheet" href="stylesheets/portfolio.css">
<title>Past Events</title>
{% endblock %}

{% block content %}
<!-- Portfolio Content -->
<div class="portfolio-section">
    <!-- Shroom Boi -->
    <div class="container">
      <div class="row justify-content-center align-items-center pb-5">
        <div class="col-lg-6">
          <div id="proj-images-bot" class="carousel slide">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="images/portfolio/projects/shroom_boi/alpha_ver.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="images/portfolio/projects/shroom_boi/beta_ver.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="images/portfolio/projects/shroom_boi/dev_demo.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="images/portfolio/projects/shroom_boi/first_prod.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#proj-images-bot" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#proj-images-bot" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>
        </div>
        <div class="col-lg-6">
          <h1 class="port-title">Le Shroom Boi - Discord bot</h1>
          <p class="port-role">Developer</p>
          <p class="port-desc">Le Shroom Boi served as my inaugural coding project, providing me with a foundation in utilizing various online services
            like APIs and Github. It also instilled in me the valuable skill of effectively searching for solutions through online resources when 
            confronted with intricate challenges. This project not only bolstered my grasp of Python's fundamentals but also acquainted me with the diverse 
            environments programmers commonly work within, including development, testing, and production environments.
            <br>
            You can find the source code for the bot  
            <a href="https://github.com/IronForce-Auscent/Le-Shroom-Boi" class="banner-btn">here!</a>
            <br>
            <sub>&larr; Here you can see the bot being run on dev and production servers, at various points of it's development phase</sub>
          </p>
        </div>
      </div>
    </div>
    <!-- Portfolio Website -->
    <div class="container">
      <div class="row justify-content-center align-items-center pb-5">
        <div class="col-lg-6">
          <h1 class="port-title">Flask Website</h1>
          <p class="port-role">Full-Stack Developer</p> <!-- Can you even call it that...? -->
          <p class="port-desc">
            I started the development of this website during the December school holiday in 2022 as I was looking to try something new. After having a chat with my
            friends, I ended up deciding on a website that could encrypt and decrypt text using a simple Vigenere cipher. Since it was my first time developing a website,
            I ended up following an online tutorial, which went through the basics of Flask and how to develop a simple website in Python. 
            <br>
            You can find the source code for the website 
            <a href="https://github.com/1t-Ju5t-eX1st5/flask_experimental_project" class="banner-btn">here!</a>
          </p>
        </div>
        <div class="col-lg-6">
          <div id="proj-images-website" class="carousel slide">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="images/portfolio/projects/simple-website/account.jpg" class="d-block w-100" alt="">
              </div>
              <div class="carousel-item">
                <img src="images/portfolio/projects/simple-website/cipher.jpg" class="d-block w-100" alt="">
              </div>
              <div class="carousel-item">
                <img src="images/portfolio/projects/simple-website/notes.jpg" class="d-block w-100" alt="">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#proj-images-website" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#proj-images-website" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Portfolio website -->
    <div class="container">
      <div class="row justify-content-center align-items-center pb-5">
        <div class="col-lg-6">
          <div id="proj-images-portfolio" class="carousel slide">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="images/portfolio/projects/portfolio-website/index.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="images/portfolio/projects/portfolio-website/about.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="images/portfolio/projects/portfolio-website/projects/1.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="images/placeholder.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#proj-images-portfolio" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#proj-images-portfolio" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>
        </div>
        <div class="col-lg-6">
          <h1 class="port-title">Portfolio Website</h1>
          <p class="port-role">Developer</p>
          <p class="port-desc">
              I created this website as a side project to demonstrate my past projects and experiences, as well as to apply for the Early Admissions Exercise (EAE). In order
              to construct this, I followed a tutorial online to build the website structure, before adding my own elements into it. Although not as intense as my previous projects,
              this taught me the basics of using HTML and CSS to design static websites. Through this project, I also learnt to write Github Workflows, which are used in this project
              to build the HTML pages using Jinja2. 
              <br>
              You can view the repository for this website
              <a href="https://github.com/1t-Ju5t-eX1st5/nyp_portfolio_submission">here!</a>
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}