                                The first CTF that I won a prize in was the Advanced Youth Cyber Exploration Programme (AYCEP) in 2021. Teaming up with several older
                                students, we managed to win the Team CTF about incident response, and got us featured on the Straits Times article about the CTF. 
                                Although I was unable to contribute a significant amount to the team, I managed to learn a great deal about incident response, and the 
                                steps that should be taken during incident response. 

                                This was also where I won my hoodie, which I continued to wear up until now, in various settings such as in school, in public and in
                                various other competitions such as YCEP 2022 and 2023.